body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


@blue: #0078ff;

.button {
  position: relative;
  color: white;
  background: @blue;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  text-decoration: none;
  cursor: pointer;
  transform: translate(0, -2px);
  box-shadow: 0 3px 0 darken(@blue, 20%);
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.28);
  margin: 5px 0;
  &:focus,
  &:hover {
    background: darken(@blue, 10%);
  }

  &:active {
    transform: none;
    box-shadow: 0 0 0 darken(@blue, 20%);
    background: darken(@blue, 20%);
  }
}
#readme {
  max-width: 400px;
  padding: 1rem;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  img {
    width: 100%;
  }
  .fileInputWrapper {
    .button;
    padding: 20px;
  }
}

#inputForAFile,
#fileinput,
canvas#drawzone {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
div#drawAndDownload {
  top: 0;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
canvas#drawzone {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 2;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  width: auto;
  height: auto;
  cursor: default;
}

#fileinput {
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

h1 {
  font-weight: 100;
  text-align: center;
  color: #007eab;
  border: 2px dashed;
  border-radius: 20px;
  padding: 20px;
}

ul.tip {
  color: #666;
  font-style: italic;
  li {
    margin: 5px 0;
  }
}

#topbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;

  padding: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  input#colorpicker {
    width: 0;
    height: 0;
    background: white;
    border: none;
    outline: none;
    opacity: 1;
    padding: 0;
    margin: 0;
  }
  #pensizePreview {
    width: 40px;
    font-size: 20px;
    position: relative;
  }
  #download {
    width: 100px;
    text-transform: uppercase;
    font-size: 80%;
  }
  #download {
    .button;
  }

  #pensizePreviewDot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
div#background {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.2s;
}
